<% content_for :page_title, 'Publiez vos corrigés' %>
<% content_for :h1_title, 'Publiez vos corrigés' %>
<% content_for :page_description, "Apprenez comment contribuer au contenu de 20aubac, et gagner un accès premium." %>
<% content_for :canonical_url, apropos_publication_url %>

<div class="content">
  <h1><%= yield(:h1_title) %></h1>

  <p>Participez aux contenus de 20aubac, et gagnez un accès aux contenus premium.</p>

  <h2 class="mt-4">Gagnez un accès premium pour chaque publication validée</h2>

  <p>En partageant une copie d'élève ou un commentaire personnel, vous aidez à votre tour d'autres élèves.</p>

  <p>Pour vous remercier de votre contribution, une fois celle-ci relue et validée, vous aurez un accès offert aux contenus premium pendant 30 jours pour chaque corrigé validé.</p>

  <h2 class="mt-4">Les étapes pour gagner un accès premium</h2>

  <p>Pour obtenir un accès premium offert de 30 jours, vous devez :
    <ul class="list-inside list-square">
      <li>Vous créer un compte</li>
      <li>Ajouter un corrigé personnel (non copié d'internet), complet et bien rédigé</li>
      <li>Une fois celui-ci proposé pour validation, attendre qu'il soit relu et validé manuellement</li>
    <ul>
  </p>

  <p>
    <%=
      path = current_user ?  new_essay_contents_internal_path : new_user_registration_path(suite: 'corrige')
      link_to('Proposer un corrigé', path, { class: 'button button-blue' })
    %>
  </p>

  <p class="mt-4">
    Vous pouvez également obtenir un accès immédiat, <%= link_to('en vous abonnant', apropos_premium_path) %>.
  </p>
</div>
