<% content_for :page_title, 'Accès premium %>
<% content_for :h1_title, 'Accédez aux contenus premium de 20aubac' %>
<% content_for :page_description, "Qu'est-ce que les contenus premium, que sont-ils, que permettent-ils et comment y accéder." %>
<% content_for :canonical_url, apropos_publication_url %>

<div class="content">
  <h1><%= yield(:h1_title) %></h1>

  <h2 class="mt-4">L'objectif: proposer un maximum de contenu de qualité</h2>

  <p>L'objectif de 20aubac est de couvrir un maximum de sujets afin de proposer l'aide la plus complète possible. La vraie exigence est que les corrigés ou commentaires soient suffisament développés et sérieux dans leur contenu pour aider les visiteurs du site, principalement des lycéens.</p>

  <h2 class="mt-4">Contribuez en corrigeant et en partageant</h2>

  <p>Vous pouvez également contribuez au site en indiquant des erreurs que contiendraient les corrigés proposés. Si nous les validons manuellement, il peut y avoir bien sûr y avoir des erreurs qui s'y glissent.</p>

  <p>Enfin, n'hésitez-pas à partager les corrigés ou l'adresse du site: sur les réseaux sociaux, blogs, sites persos ou forums, toute aide est grandement appréciée !</p>

  <h2 class="mt-4">Contribuez en proposant vos propres corrigés</h2>

  <p>Les corrigés du site vous ont aidé ? Vous pouvez soumettre à votre tour vos propres copies d'élève ou commentaires personnels depuis un compte élève et partager ainsi vos travaux, qui seront relus et validés individuellement. De même si vous êtes professeur, vous pouvez obtenir le statut professeur et vos corrigés seront dès lors mieux mis en avant.</p>

  <p>Aussi vous restez à tout moment maître de vos contributions et pouvez modifier/supprimer vos contenus si vous le souhaitez.</p>

  <div class="max-w-md mx-auto mt-3 grid grid-cols-2 gap-2">
    <%= link_to(new_essay_contents_internal_path, class: "no-underline") do %>
      <div class="block button button-blue">Ajouter un corrigé</div>
    <% end %>
    <%= link_to(membres_premiumabonnement_path, class: "no-underline") do %>
      <div class="block button button-blue">Accès payant</div>
    <% end %>
  </div>
</div>
