<% content_for :page_title, 'Partenaires de 20aubac' %>
<% content_for :h1_title, 'Partenaires de 20aubac' %>
<% content_for :page_description, 'Présentation des partenaires de 20aubac.' %>
<% content_for :canonical_url, apropos_partenaires_url %>

<div class="content">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>

  <p class="mt-8">
    Les sites suivants ont accepté d'être partenaires de 20aubac, et nous les en remercions.
  </p>

  <div class="w-full mt-14 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
    <div class="text-center">
      <figure>
        <%= link_to('https://fr.jooble.org/') do %>
          <%= image_tag('partners_jooble.png', alt: "Jooble, offres d'emploi partout en France", class: 'inline-block') %>
        <% end %>
        <figcaption>
          <%= link_to("Jooble, offres d'emploi partout en France", 'https://fr.jooble.org', class: 'mt-2 inline-block') %>
        </figcaption>
      </figure>
    </div>

    <div class="text-center">
      <figure>
        <%= link_to('https://www.mediaclasse.fr') do %>
          <%= image_tag('partners_mediaclasse.png', alt: 'Mediaclasse, La littérature analysée en vidéo', class: 'inline-block') %>
        <% end %>
        <figcaption>
          <%= link_to('Mediaclasse, La littérature analysée en vidéo', 'https://www.mediaclasse.fr', class: 'mt-2 inline-block') %>
        </figcaption>
      </figure>
    </div>

    <div class="w-full text-center">
      <figure>
        <div class="flex items-center w-full text-center border-8 border-gray-900 border-dotted h-229px">
            <%= link_to(apropos_mentions_path, class:'no-underline inline-block mx-auto') do %>
              <span class="text-9xl">+</span>
            <% end %>
          </div>
        <figcaption>
          <%= link_to('Votre site ici', apropos_mentions_path, class: 'mt-2 inline-block') %>
        </figcaption>
      </figure>
    </div>
</div>
</div>
