<% content_for :page_title, 'Mentions légales de 20aubac' %>
<% content_for :h1_title, 'Mentions légales' %>
<% content_for :page_description, 'Mentions légales et traitement des données par 20aubac.' %>
<% content_for :canonical_url, apropos_mentions_url %>

<div class="content">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>

  <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-2">
    <div>
      <h2 class="mt-4">Contact</h2>

      <p>
        20aubac est un site édité par MGWeb:<br />
        71 boulevard Montaigne<br />
        29200 Brest<br />
        France<br />
        SIRET 51366126400020<br />
        Représentant légal : Matthieu de Goys<br />
        Téléphone : +33 6 28 33 54 06<br />
        Email: <%= image_tag('email_20aubac.png', alt: "contact@20aubac.fr", class: "inline") %>
      </p>

      <p>
        Le site est hébergé par Scalingo:<br />
        Scalingo SAS<br />
        15 avenue du Rhin<br />
        67100 Strasbourg<br />
        France<br />
        SIRET 80866548300018
      </p>
    </div>

    <div>
      <h2 class="mt-4">Traitement des données</h2>

      <p>Les données du site ne sont ni revendues ni communiquées à des tiers.</p>

      <p>Vous pouvez depuis votre espace membre modifier ou supprimer vos données, sauf dans le cas où des données liées ne peuvent pas être supprimées par vous-même, et ce pour éviter les abus. Nous restons alors à votre disposition pour les modifier ou les supprimer, sur simple demande.</p>

      <p>Le site ne contient pas de publicité, et à ce titre ne dépose pas de cookies de suivi publicitaire.</p>

      <h2 class="mt-4">Infos techniques</h2>

      <p>
        Le site a été développé sous Ruby on Rails. Vous pouvez trouver son code en open source <%= link_to('https://gitlab.com/mdegoys/20aubac_ruby', target: '_blank') { %>sur Gitlab  <span class="icon-external-link"></span><% } %>.
      </p>

      <p>
        Le bon fonctionnement de l'application est surveillé par l'outil de monitoring <%= link_to('https://www.rorvswild.com', target: '_blank') { %>RorVsWild <span class="icon-external-link"></span><% } %>.
      </p>
    </div>
  </div>
</div>
