<% content_for :page_title, 'Accès premium' %>
<% content_for :h1_title, 'Prenez du niveau en français et en philo' %>
<% content_for :page_description, "Qu'est-ce que les contenus premium, que contiennent-ils, que permettent-ils et comment y accéder." %>
<% content_for :canonical_url, apropos_premium_url %>

<div class="content">
  <h1><%= yield(:h1_title) %></h1>

  <p>
    Accédez sans limite à tous nos contenus exclusifs, relus et validés manuellement.
  </p>

  <h2 class="mt-4">Que contient l'accès premium ?</h2>

  <p>
    L'accès premium comprend les avantages suivants:
    <ul class="list-inside list-square">
      <li>L'accès à tous nos corrigés exclusifs</li>
      <li>L'accès à toutes nos archives, téléchargeables au format pdf</li>
      <li>L'assurance d'ajouts réguliers de nouveaux contenus</li>
    <ul>
  </p>

  <h2 class="mt-4">Comment obtenir un accès premium ?</h2>

  <p>
    Le moyen le plus simple d'obtenir un accès est par abonnement:
    <ul class="list-inside list-square">
      <li>En créant un compte gratuitement, en moins d'une minute</li>
      <li>Puis en souscrivant par carte bancaire, pour 5€/mois</li>
      <li>Vous pouvez annuler votre abonnement à tout moment, en un clic</li>
    </ul>
  </p>

  <p>
    <%=
      path = current_user ?  membres_premiumabonnement_path : new_user_registration_path(suite: 'premium')
      link_to('Obtenir un accès premium', path, { class: 'button button-blue' })
    %>
  </p>

  <p class="mt-4">
    Vous également obtenir un accès de 30 jours, <%= link_to('en proposant vous-même un corrigé', apropos_publication_path) %>.
  </p>
</div>
