<% content_for :page_title, 'A propos de 20aubac' %>
<% content_for :h1_title, 'Présentation de 20aubac' %>
<% content_for :page_description, 'Présentation de 20aubac et de ses objectifs.' %>
<% content_for :canonical_url, apropos_presentation_url %>

<div class="content">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>

  <h2 class="mt-4">Référencer le plus grand nombre de corrigés de qualité</h2>

  <p>20aubac se donne pour but de mettre à disposition des élèves le maximum de corrigés de qualité, pour réussir en français et en philosophie.</p>

  <h2 class="mt-4">L'exigence de qualité</h2>

  <p>20aubac se veut exigeant sur la qualité des corrigés publiés, et donner ainsi les clés aux élèves pour progresser avec tout ce que comporte une bonne copie : un développement clair, des arguments solides ou encore des références intéressantes et bien intégrées au raisonnement.</p>

  <p>20aubac se veut également exigeant sur la forme et l'application qui régit le contenu, avec des mises à jour et améliorations régulières pour une meilleure expérience, le tout sans publicité ni traceur.</p>

  <p>Pour soutenir l'amélioration continue du site et de ses contenus, certains corrigés sont <%= link_to('accessibles en accès premium', apropos_premium_path) %>.</p>

  <h2 class="mt-4">Une plate-forme d'échange de contenus</h2>

  <p>Pour s'assurer de l'ajout régulier de nouveaux contenus, le système de publication des corrigés permet aux élèves de partager leur propres copies et corrigés.</p>

  <p>Chaque soumission de copie d'élève est modérée pour s'assurer de la qualité du contenu soumis. Cela permet également d'éviter le plagiat de contenus publiés sur d'autres sites internet.</p>

  <p>Pour encourager la soumission de corrigés, chaque validation est <%= link_to("recompensée d'un accès premium offert", apropos_publication_path) %> pendant 30 jours.</p>
</div>
