<% content_for :page_title, 'Dissertations et commentaires corrigés, bac de français et philo' %>
<% content_for :h1_title, 'Trouvez votre corrigé, en français ou en philo' %>
<% content_for :page_description, 'Dissertations et commentaires corrigés, en français et philosopie, pour préparer son oral de français et son bac de philo aux épreuves anticipées.' %>
<% content_for :canonical_url, root_url %>
<% content_for :ld_json do %>
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
	  "url": "https://www.20aubac.fr/",
	  "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.20aubac.fr/recherche?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
<% end %>
<div class="p-4 lg:p-0">
  <section id="imageindex" class="max-w-full mx-auto bg-center bg-no-repeat bg-cover border-2 border-gray-300 border-solid m-500 bg-students">
    <h1 class="inline-block px-2 py-0 ml-4 font-sans text-4xl font-bold bg-gray-400 bg-repeat md:ml-28 lg:ml-32 mt-136 md:mt-88 lg:mt-76 bg-opacity-85 text-shadow-index"><%= yield(:h1_title) %></h1>
    <div class="inline-block px-2 mt-2 mb-32 ml-4 font-sans text-3xl font-bold text-gray-200 bg-gray-700 bg-repeat md:ml-28 lg:ml-32 ">Parmi <%= @published_essays_count %> dissertations et commentaires validés manuellement</div>
  </section>
  <br />
  <section class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="flex flex-col">
      <div class="border-orange-600 box-index">
        <div>
          <h2 class="text-orange-600 h2-index"># Les derniers corrigés ajoutés ou mis à jour</h2>
        </div>
        <div>
          <ul>
            <% @last_modified_essays.each do |essay| %>
              <li class="list-outside ml-4 mr-6 list-square"><%= link_to(essay.topic.title_short.presence || essay.topic.title, essay.essay_content) %></li>
            <% end %>
          </ul>
        </div>

        <div class="mt-6">
          <%= link_to('Voir plus de corrigés ajoutés ou mis à jour', corriges_recents_path) %>
        </div>
      </div>
      <div>
        <%= link_to('Accédez aux commentaires de français', params_categories_path(type: "commentaire", matiere: "francais"), { class: "button-index button-orange" } ) %>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="border-green-600 box-index">
        <div>
          <h2 class="text-green-600 h2-index"># Les corrigés les plus populaires</h2>
        </div>
        <div>
          <ul>
            <% @most_popular_essays.each do |essay| %>
              <li class="list-outside ml-4 mr-6 list-square"><%= link_to(essay.topic.title_short.presence || essay.topic.title, essay.essay_content) %></li>
            <% end %>
          </ul>
        </div>

        <div class="mt-6">
          <%= link_to('Voir plus de corrigés populaires', corriges_populaires_path) %>
        </div>
      </div>
      <div>
        <%= link_to('Accédez aux dissertations de philosophie', params_categories_path(type: "dissertation", matiere: "philosophie"), { class: "button-index button-green" } ) %>
      </div>
    </div>
  </section>
  <br />
  <section class="p-4 bg-gray-200">
    <h2 class="h2-index text-salmon">Des corrigés de qualité, en français et en philosophie</h2>

    <p>20aubac vous propose des corrigés de français (<%= link_to('commentaires', params_categories_path(type: "commentaire", matiere: "francais"), class: '') %>) et de philosophie (<%= link_to('dissertations', params_categories_path(type: "dissertation", matiere: "philosophie"), class: '') %> ou <%= link_to('commentaires', params_categories_path(type: "commentaire", matiere: "philosophie"), class: '') %>), de professeurs ou d'élèves, relus et validés manuellement.</p>

    <p>Conformément aux programmes du bac de français, les auteurs les plus étudiés sont présents: <%= link_to('Molière', category_topics_path(category_id: 'moliere')) %>, <%= link_to('Rousseau', category_topics_path(category_id: 'rousseau-francais')) %> ou encore <%= link_to('Apollinaire', category_topics_path(category_id: 'apollinaire')) %>. Nous proposons également en philosophie des dissertations en lien avec les notions officielles telles que <%= link_to('le désir', category_topics_path(category_id: 'desir')) %>, <%= link_to('le langage', category_topics_path(category_id: 'langage')) %> ou <%= link_to('la justice', category_topics_path(category_id: 'justice-droit')) %>. Les commentaires de philosophie traitent eux des textes des grands auteurs: <%= link_to('Descartes', category_topics_path(category_id: 'descartes')) %>, <%= link_to('Kant', category_topics_path(category_id: 'kant')) %> ou encore <%= link_to('Alain', category_topics_path(category_id: 'alain')) %>.</p>

    <p>Vous pouvez retrouver l'ensemble des sujets proposés en une page pour les <%= link_to('commentaires de français', params_topics_path(matiere: 'francais', type: 'commentaire')) %>, les <%= link_to('dissertations de philosophie', params_topics_path(matiere: 'philosophie', type: 'dissertation')) %> et les <%= link_to('commentaires de philosophie', params_topics_path(matiere: 'philosophie', type: 'commentaire')) %>.</p>

    <p><%= link_to('En savoir plus sur 20aubac',  apropos_presentation_path) %>.</p>
  </section>
</div>
