<% content_for :page_title, 'Plan de 20aubac' %>
<% content_for :h1_title, 'Plan du site' %>
<% content_for :page_description, 'Page répertoriant tout le contenu de 20aubac' %>
<% content_for :canonical_url, plan_site_url %>

<div class="content">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>

  <%= render("shared/site_links") %>
</div>
