<% content_for :page_title, 'Mes corrigés' %>
<% content_for :h1_title, 'Mes corrigés' %>

<div class="content-user">
  <h1><%= yield (:h1_title) %></h1>

  <p>
    Pour visualiser, modifier ou publier vos corrigés, cliquez sur le titre du sujet.<br />
    Pour mettre en ligne votre corrigé, il faut qu'il ait été soumis à publication puis validé.
  </p>

  <h2 class="mt-4">Mes corrigés en brouillon/en attente de validation</h2>

  <% if @not_published_essays.present? %>
    <table class="standard">
      <thead>
        <tr>
          <td>Sujet</td>
          <td>Matière</td>
          <td>Type</td>
          <td>Catégorie</td>
          <td>Etat</td>
        </tr>
      </thead>
      <tbody>
      <% @not_published_essays.each do |essay_content| %>
        <tr>
          <td class="w-3/5 break-all">
            <%= link_to(essay_content.topic.title, essay_content) %>
          </td>
          <td><%= t(essay_content.essay.topic.category.group.subject).capitalize %></td>
          <td><%= essay_content.essay.topic.category.group.exercice_type.capitalize %></td>
          <td><%= essay_content.essay.topic.category.name %></td>
          <td><%= t(essay_content.essay.status).capitalize %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Vous n'avez pas de corrigé en brouillon/en attente de validation.</p>
  <% end %>

  <h2 class="mt-4">Mes corrigés en ligne</h2>

  <% if @published_essays.present? %>
    <table class="standard">
      <thead>
        <tr>
          <td>Sujet</td>
          <td>Matière</td>
          <td>Type</td>
          <td>Catégorie</td>
        </tr>
      </thead>
      <tbody>
      <% @published_essays.each do |essay_content| %>
        <tr>
          <td class="w-3/5 break-all">
            <%= link_to(essay_content.topic.title, essay_content) %>
          </td>
          <td><%= t(essay_content.essay.topic.category.group.subject).capitalize %></td>
          <td><%= essay_content.essay.topic.category.group.exercice_type.capitalize %></td>
          <td><%= essay_content.essay.topic.category.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Vous n'avez pas encore de corrigé publié.</p>
  <% end %>
</div>
