<% content_for :page_title, 'Accueil membre' %>
<% content_for :h1_title, 'Accueil membre' %>
<h1><%= yield (:h1_title) %></h1>

<div class="content-two-columns">
  <div>
    <% if current_user.eleve? %>
      <h2 class=mt-4">Mon accès premium</h2>

      <p>
        <% if current_user.premium_accesses.empty? %>
          Vous n'avez pas d'accès premium.
        <% elsif current_user.active_premium? %>
          Vous avez actuellement un accès premium actif
          (<%= current_user.active_premium_access.stripe? ? "date de renouvellement: " : "date d'expiration: " %>
          <%= current_user.active_premium_access.expire_at.strftime('%d/%m/%Y') %>).
        <% else %>
          Votre dernier accès premium n'est plus actif, il s'est terminé le
          <%= current_user.premium_accesses.order(expire_at: :desc).first.expire_at.strftime("%d/%m/%Y") %>.
        <% end %>
      </p>

      <p>
        <% unless current_user.active_recurring_premium? %>
          <%= link_to('Ajouter un accès premium payant', membres_premiumabonnement_path) %><br />
        <% end %>
        <%= link_to('Voir mes accès premium', membres_accespremium_path) %>
      </p>

    <% end %>

    <% unless current_user.admin? %>
      <h2 class="mt-4">Mes corrigés</h2>

      <p>
        <%= link_to('Ajouter un corrigé', new_essay_contents_internal_path) %><br />
        <%= link_to('Consulter mes corrigés', membres_corriges_path) %>
      </p>
    <% end %>

    <h2 class="mt-4">Mes infos membres</h2>

    <p>
      <%= link_to('Modifier mes infos membres', edit_user_registration_path) %>
    </p>

    <% if current_user.admin? %>
      <h2 class="mt-4">Admin</h2>

      <p>
        <% unless @number_of_pending_essays.zero? %>
          <%= link_to('Corrigés en attente', admin_corriges_path) %>
           (<%= @number_of_pending_essays %>)<br />
        <% end %>
        <%= link_to('Corrigés externes à surveiller', admin_corriges_externes_path) %><br />
        <% unless @number_of_essays_without_proper_plan.zero? %>
          <%= link_to('Plans non conformes', admin_plans_path) %>
           (<%= @number_of_essays_without_proper_plan %>)<br />
        <% end %>
      </p>

      <p>
        <% unless @number_of_topics_without_audios.zero? %>
          <%= link_to('Sujets sans audio', admin_audios_path) %>
           (<%= @number_of_topics_without_audios %>)<br />
        <% end %>
        <% unless @number_of_topics_with_long_titles.zero? %>
          <%= link_to('Titre trop longs', admin_titres_path) %>
           (<%= @number_of_topics_with_long_titles %>)<br />
        <% end %>
        <% unless @number_of_orphan_topics.zero? %>
          <%= link_to('Sujets orphelins', admin_sujets_path) %>
           (<%= @number_of_orphan_topics %>)<br />
        <% end %>
        <%= link_to('Ajouter un sujet', new_topic_path) %><br />
      </p>

      <p>
        <% unless @number_of_categories_missing_info.zero? %>
          <%= link_to('Catégories incomplètes', admin_categories_incompletes_path) %>
           (<%= @number_of_categories_missing_info %>)<br />
        <% end %>
        <% unless @number_of_categories_needing_links.zero? %>
          <%= link_to('Catégories manquant de liens associés', admin_influences_path) %>
           (<%= @number_of_categories_needing_links %>)<br />
        <% end %>
        <% unless @number_of_orphan_categories.zero? %>
          <%= link_to('Catégories orphelines sans avatar', admin_categories_orphelines_path) %>
           (<%= @number_of_orphan_categories %>)<br />
        <% end %>
      </p>

      <p>
        <%= link_to('Liste des professeurs', admin_professeurs_path) %><br />
        <%= link_to('Statistiques', admin_statistiques_path) %><br />
      </p>
    <% end %>
  </div>
  <div class="content-two-columns-right">
    Vous êtes connecté en tant que <span class="font-bold"><%= current_user.username %></span>
    <p class="mt-4"><%= button_to 'Se déconnecter', destroy_user_session_path, method: :delete, data: { turbo: false }, class: "button button-blue" %></p>

    <p>
      Vous avez actuellement comme statut membre: <span class="font-bold"><%= t(current_user.level) %></span>.
    </p>
  </div>
</div>
