<% content_for :page_title, 'Mes accès premium' %>
<% content_for :h1_title, 'Mes accès premium' %>

<div class="content-user">
  <h1><%= yield (:h1_title) %></h1>

  <p>
   Vous trouverez ci-dessous l'ensemble de vos accès premium présents ou passées, payants ou offerts suite à la publication d'un corrigé.
  </p>
  <p>Vous pouvez depuis cette page:</p>
  <ul>
    <li class="list-inside list-square">annuler le renouvellement d'un abonnement (qui restera alors actif jusqu'à la date de renouvellement)</li>
    <li class="list-inside list-square">activer un accès premium offert provisionné mais non encore activé (du fait de l'existence d'un abonnement actif)</li>
  </ul>

  <h2 class="mt-4">Mon accès premium actif</h2>
  <% if @active_premium_access.present? %>
    <table class="standard">
      <thead>
        <tr>
          <td>id</td>
          <td>Date d'activation</td>
          <td><%= @active_premium_access.stripe? && @active_premium_access.cancelable? ? "Date de renouvellement":"Date d'expiration" %></td>
          <td class="w-1/4">Type</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= @active_premium_access.id %></td>
        <td><%= @active_premium_access.activate_at.strftime('%d/%m/%Y') %></td>
        <td><%= @active_premium_access.expire_at.strftime('%d/%m/%Y') %></td>
        <td><%= t("premium_access_description.#{@active_premium_access.provider}") %></td>
        <td>
          <% if @active_premium_access.cancelable? %>
            <%= link_to('Annuler', { controller: 'premium_accesses', action: 'cancel', id: @active_premium_access.id }, data: { turbo_method: :put }) %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  <% else %>
    <p>Vous n'avez pas d'accès premium actif. Pour obtenir un accès premium, <%= link_to('proposez un corrigé', new_essay_contents_internal_path) %> ou <%= link_to('ajoutez un accès premium payant', membres_premiumabonnement_path) %>.
    </ul>
  <% end %>

  <h2 class="mt-4">Mes autres accès premium</h2>
  <% if @other_premium_accesses.present? %>
    <table class="standard">
      <thead>
        <tr>
          <td>id</td>
          <td>Date d'activation</td>
          <td>Date d'expiration</td>
          <td class="w-1/4">Type</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
      <% @other_premium_accesses.each do |premium_access| %>
        <tr>
          <td><%= premium_access.id %></td>
          <td><%= premium_access.activate_at.strftime('%d/%m/%Y') if premium_access.activate_at %></td>
          <td><%= premium_access.expire_at.strftime('%d/%m/%Y') if premium_access.expire_at %></td>
          <td><%= t("premium_access_description.#{premium_access.provider}") %></td>
          <td>
            <% if premium_access.activable? %>
              <%= link_to('Activer', { controller: 'premium_accesses', action: 'activate', id: premium_access.id }, method: :put) %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Vous n'avez pas d'autres accès premium.</p>
  <% end %>
</div>
