<% content_for :page_title, "Accès premium par abonnement" %>
<% content_for :h1_title, "Accès premium par abonnement" %>
<% content_for :external_javascript, 'https://js.stripe.com/v3/' %>
<% content_for :additional_javascript, 'stripe_payment' %>
<h1><%= yield (:h1_title) %></h1>

<div class="mt-4 content-two-columns">
  <div>
    <p>
      Accédez à tous les contenus premium, en souscrivant à un abonnement de 5€/mois.
    </p>

    <h2 class="mt-4">Mes informations de paiement</h2>

    <form id="payment-form" class="standard">
        <div>
          <label for="name">Nom du détenteur de la carte bancaire</label>
          <input type="text" id="name" />
        </div>
        <div class="pt-4">
          <span class="font-bold">Informations de la carte bancaire</label>
        </div>
        <div id="card-element">
          <!-- Elements will create input elements here -->
        </div>

        <input type="hidden" id="customer-id" value="<%= @customer_id %>">
        <div class="pt-6 pb-2">
          <input type="submit" id="submit-payment-btn" value="Souscrire">
        </div>
      </form>

  </div>
  <div class="content-two-columns-right">
    Le paiement est sécurisé par la société Stripe. Aucune information bancaire n'est gérée, ni stockée par 20aubac.

    <p class="mt-2 font-bold">
      Abonnement annulable à tout moment
    </p>
    <p>
    Vous pouvez gérer votre abonnement depuis <%= link_to('la page des accès premium', membres_accespremium_path) %>, et résilier à tout moment si nécessaire. Vous bénéficierez des avantages de l'accès premium jusqu'à la date butoir de renouvellement.
    </p>

    <p class="mt-2 font-bold">
      30 jours d'accès premium offerts
    </p>
    <p>
      Vous pouvez également profiter d'un accès premium offert pendant 30 jours en <%= link_to('soumettant un corrigé', new_essay_contents_internal_path) %>.
    </p>
  </div>
</div>
