<% content_for :page_title, 'Modifier les informations du compte' %>
<% content_for :h1_title, 'Modifier les informations du compte' %>

<div class="content-user">
  <h1><%= yield (:h1_title) %></h1>

  <p><%= render "devise/shared/error_messages", resource: resource %></p>

  <div class="content-two-columns">
    <div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, data: { turbo: false }, class: "standard" }) do |f| %>

        <div>
          <%= f.label :email, "Adresse email" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>En attente de la confirmation pour: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <%= f.label :username, "Nom d'utilisateur" %>
          <%= f.text_field :username, autofocus: true %>
        </div>

        <div>
          <%= f.label :password, "Nouveau mot de passe" %> <em>(laissez vide si vous ne souhaitez pas le changer)</em>
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caractères minimum</em>
          <% end %>
        </div>

        <div>
          <%= f.label :password_confirmation, "Confirmation du nouveau mot de passe" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div>
          <%= f.label :current_password %> <em>(votre mot de passe actuel est nécessaire pour confimer les modifications)</em>
          <%= f.password_field :current_password, required: true, autocomplete: "current-password" %>
        </div>

        <div class="mt-4">
          <%= f.submit "Modifier" %>
        </div>
      <% end %>
    </div>
    <div class="content-two-columns-right">
      <p class="font-bold">Suppression du compte</p>

      <p>La suppression du compte est définitive. Toutes les données associées, dont les corrigés, publiés ou non, seront perdues.</p>

      <p><%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?" }, method: :delete, class: 'button button-red' %></p>
    </div>
  </div>
</div>
