<% content_for :page_title, 'Créer un compte' %>
<% content_for :h1_title, 'Créer un compte' %>
<% content_for :page_description, "Créer un compte sur 2aubac, pour pouvoir publier des corrigés." %>
<% content_for :canonical_url, new_user_registration_url %>

<div class="content-user">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>

  <p><%= render "devise/shared/error_messages", resource: resource %></p>

  <div class="content-two-columns">
    <div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "standard", data: { turbo: false } }) do |f| %>
        <div>
          <%= f.label :email, "Adresse email" %>
          <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
        </div>

        <div>
          <%= f.label :username, "Nom d'utilisateur" %>
          <%= f.text_field :username, required: true, autofocus: true %>
        </div>

        <div>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %>
          <%= f.password_field :password, required: true, autocomplete: "new-password" %>
        </div>

        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
        </div>

        <div class="mt-4">
          <%= f.submit "Créer le compte" %>
        </div>
      <% end %>
    </div>
    <div class="content-two-columns-right">
      <p class="font-bold">Créez votre compte en quelques secondes</p>

      <p>Une adresse email valide suffit. La création d'un compte est bien sûr gratuite et vous permet d'accéder aux contenus premium du site.</p>

      <p>Vous gardez la main sur vos données et pouvez les modifier ou les supprimer par vous-même à tout instant.</p>

      <p class="font-bold">Vous possédez déjà un compte ?</p>

      <p>
        Connectez-vous <%= link_to "à cette adresse", new_user_session_path, class: "" %>.<br />
        En cas d'oubli de votre mot de passe, vous pouvez le <%= link_to "réinitialiser ici", new_user_password_path, class: "" %>.
      </p>
    </div>
  </div>
</div>
