Bonjour <%= @user.username %>,
votre corrigé "<%= @essay.topic.title %>" vient d'être validé !
Il est désormais accessible en ligne sur 20aubac.fr à cette adresse:
<%= essay_contents_internal_url(@essay.essay_content) %>

<% if @user.eleve? && @first_validation %>
Vous avez désormais un accès supplémentaire aux contenus premium de 30 jours, depuis votre compte !

<% end %>
N'hésitez-pas à le partager ou à proposer d'autres corrigés.
Nous restons à votre disposition pour toute question,

En vous remerciant pour votre participation,
Cordialement,
L'équipe de 20aubac.fr.

https://www.20aubac.fr
