Bonjour <%= @user.username %>,
votre corrigé "<%= @essay.topic.title %>" vient d'être malheureusement refusé.
Les raisons les plus courantes pour lesquelles un corrigé est refusé sont:
- plagiat d'un corrigé accessible ailleurs sur internet
- pas assez rédigé (trop d'abbréviations, phrases pas complètes, manque de développement)
- trop de fautes ou d'approximations
- trop court (pas d'introduction ni de conclusion, pas de plan apparent, trop peu d'idées apportées)
- en dehors du programme de philosophie ou de français
- les dissertations de français ne sont pas acceptées

Le corrigé est cependant toujours disponible dans votre espace membre en tant que brouillon.
Vous pouvez bien sûr l'améliorer et le re-soumettre !

Nous restons à votre disposition pour toute question,

En vous remerciant pour votre participation,
Cordialement,
L'équipe de 20aubac.fr.

https://www.20aubac.fr
