<% content_for :page_title, 'Erreur serveur' %>
<% content_for :h1_title, 'Erreur serveur' %>
<div class="h-full content">
  <div class="content-centered">
    <h1><%= yield (:h1_title) %></h1>

    <p>
      Il y a eu une erreur retournée par le serveur, soit du fait d'un bug ou d'une action de votre part non prévue.<br />
      Nous vous conseillons de réessayer, et de nous contacter si l'erreur persiste.
    </p>
  </div>
</div>
