<% content_for :page_title, 'Page non trouvée' %>
<% content_for :h1_title, 'Page non trouvée' %>
<h1><%= yield (:h1_title) %></h1>

<p class="my-4">
  Cette page n'existe pas ou plus.<br class="hidden lg:inline" />
  Nous vous conseillons donc de vous tourner vers les ressources disponibles ci-dessous, ou bien encore en utilisant le moteur de recherche ci-dessus.
</p>

<%= render("shared/site_links") %>
