<% content_for :page_title, 'Éditer le sujet' %>
<% content_for :h1_title, 'Éditer le sujet' %>
<h1><%= yield (:h1_title) %></h1>

<% provide(:button_text, 'Sauvegarder les modifications') %>

<h2 class="mt-8">Modifier les informations du sujet</h2>

<%= form_for(@topic, html: { class: 'standard' }) do |f| %>
  <%= render 'shared/form_topic', { form: f, disabled: false } %>
  <div class="mt-4"><%= f.submit yield(:button_text) %></div>
<% end %>


<% unless @essays.empty? %>
  <h2 class="mt-8">Liste des corrigés pour ce sujet</h2>

  <table class="standard">
    <thead>
      <tr>
        <td>id</td>
        <td>Type</td>
        <td>Auteur</td>
        <td>Statut</td>
        <td>MaJ</td>
      </tr>
    </thead>
    <tbody>
      <% @essays.each do |essay| %>
        <tr>
          <td><%= link_to(essay.id, essay.essay_content) %><%= " [Meilleur]" if essay.id === @topic.best_essay_id %></td>
          <td><%= t(essay.essay_content_type).capitalize %></td>
          <td>
            <%= essay.author_name %> (<%= t(essay.author_level) %>)
          </td>
          <td><%= t(essay.status).capitalize %></td>
          <td><%= essay.updated_at.strftime('%d/%m/%Y') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
