<% content_for :page_title, "#{@category.name} - #{@category.group.exercice_type}s de #{t(@category.group.subject)}" %>
<% content_for :h1_title, "#{@category.name} - #{@category.group.exercice_type}s de #{t(@category.group.subject)}" %>
<% content_for :page_description, "#{@category.name} - #{@category.group.exercice_type}s de #{t(@category.group.subject)}" %>
<% content_for :canonical_url, params[:page] ? params_category_topics_url(@category, page: params[:page]) : category_topics_url(@category) %>
<div class="h-full content">
  <div class="flex flex-col h-full">
    <div class="flex-grow">
      <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>

      <div class="pt-4">
      <%# <div class="pt-4 pb-6"> %>
        <%# <%= link_to('Par ordre alphabetique', nil, class: 'button button-gray') %1> %>
        <%# <%= link_to('Par popularité', nil, class: 'button button-transparent') %1> %>
        <%# <%= link_to('Annales uniquement', nil, class: 'button button-transparent') %1> %>
      </div>

      <ul>
        <% @topics.each do |topic| %>
          <li class="list-inside list-square"><%= link_to("#{topic.title}", topic.best_essay.essay_content) %></li>
        <% end %>
      </ul>
    </div>

    <%= paginate @topics %>

    <% if @display_additional_authors %>
      <div>
        <p class="mt-8 font-bold">Nous avons besoins de vous !</p>

        <p>
          Nous manquons de corrigés pour <%= t("category_type.this.#{@category.group.exercice_type}") %>.
          Contribuez en <%= link_to('en proposant un', new_essay_contents_internal_path(type: @category.group.exercice_type, matiere: @category.group.subject)) %>, et gagnez 30 jours d'accès premium !
        </p>
        <% if !@influencers_or_influencees.empty? %>
          <p class="mt-4">
          <span class="font-bold">Découvrez les corrigés <%= t("category_type.of_linked.#{@category.group.exercice_type}") %> : </span>
          <% @influencers_or_influencees.each_with_index do |category, index| %>
            <%= link_to(category.name, category_topics_path(category)) %><%= ', ' unless (index == @influencers_or_influencees.size - 1) %>
          <% end %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
