<% content_for :page_title, "#{@type.capitalize}s de #{t(@matiere)}, tous les sujets" %>
<% content_for :h1_title, "#{@type.capitalize}s de #{t(@matiere)}, tous les sujets"   %>
<% content_for :page_description, "L'ensemble des sujets de #{@type}s en #{t(@matiere)}"    %>
<% content_for :canonical_url, params_topics_url(matiere: @matiere, type: @type) %>
<div class="content">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>

  <p>
    <%= link_to('Vue synthétique', params_categories_path(matiere: @matiere, type: @type)) %>, vue détaillée
  </p>
  <p>
    Choisissez <%= @type == :dissertation ? "le corrigé de dissertation" : "le commentaire" %> souhaité.
    <span class="hidden lg:inline"><br />Vous pouvez rechercher un sujet dans cette page avec votre navigateur en utilisant Ctrl-F ou (CMD-F sur Mac).</span>
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div>
      <%
        topics_displayed_count = 0
        div_count = 0
      %>
      <% @groups.each do |group| %>
        <h2 class="mt-4"><%= group.name %></h2>
        <% @categories.where(group: group).each do |category| %>
          <%= link_to("#{category.name}", category_topics_path(category), { class: 'font-bold no-underline mt-3 mb-2 inline-block' }) %>
          <ul>
            <% category.topics.each do |topic| %>
              <% if topic.best_essay %>
                <li class="list-inside list-square"><%= link_to("#{topic.title}", topic.best_essay.essay_content) %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
        <%
          topics_displayed_count = topics_displayed_count + group.topics.count
          if topics_displayed_count > @groups_topics_count/2 && div_count == 0
            div_count = 1
        %>
            </div><div>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
