<% content_for :page_title, 'Créer un sujet' %>
<% content_for :h1_title, 'Créer un sujet' %>
<h1><%= yield (:h1_title) %></h1>

<% provide(:button_text, 'Sauvegarder les modifications') %>

<h2 class="mt-8">Création d'un sujet</h2>

<% if @topic.new_record? %>
  <div class="mt-2 mb-1">Type de sujet :</div>
  <%= link_to('Dissertation de philosophie', new_topic_path(type: "dissertation", matiere: "philosophie"),
              { class: "#{@type == :dissertation && @matiere == :philosophie ? 'button button-gray' : 'button button-transparent' }" }) %>
  <%= link_to('Commentaire de philosophie', new_topic_path(type: "commentaire", matiere: "philosophie"),
              { class: "#{@type == :commentaire && @matiere == :philosophie ? 'button button-gray' : 'button button-transparent' }" }) %>
  <%= link_to('Commentaire de français', new_topic_path(type: "commentaire", matiere: "francais"),
              { class: "#{@type == :commentaire && @matiere == :francais ? 'button button-gray' : 'button button-transparent' }" }) %>
<% end %>

<%= form_for(@topic, html: { class: 'standard' }) do |f| %>
  <%= render 'shared/form_topic', { form: f, disabled: false } %>
  <div class="mt-4"><%= f.submit yield(:button_text) %></div>
<% end %>
