<%
  title =
    if !params[:q] || params[:q].empty?
      'Rechercher un corrigé'
    elsif @topics.empty?
      "Pas de résultats pour: «#{params[:q]}»"
    else
      "Résultats pour: «#{params[:q]}»"
    end
%>
<% content_for :page_title, title %>
<% content_for :h1_title, title %>
<% content_for :page_description, 'Trouvez un corrigé de philosophie ou un commentaire composé de français grâce à notre moteur de recherche dédié.' %>
<% content_for :canonical_url, recherche_url %>
<div class="h-full content">
  <% if !params[:q] || params[:q].empty? || @topics.empty? %>
    <div class="content-centered">
      <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>
      <p>
        <% if !params[:q] || params[:q].empty? %>
          Recherchez parmi les corrigés disponibles en saisissant au moins un mot dans la barre de recherche.<br />
        <% elsif @topics.empty? %>
          Vous pouvez essayer d'élargir votre recherche en utilisant des termes moins précis ou plus de termes.<br />
        <% end %>
        Vous pouvez ainsi rechercher un sujet, un auteur, une ou plusieurs notions.
      </p>
      <p>
      Ex:
      <%= link_to('Peut-on se connaître soi-même ?', recherche_path(params: { q: 'Peut-on se connaitre soi-même ?'}), rel: 'nofollow') %>,
      <%= link_to('Rousseau', recherche_path(params: { q: 'Rousseau'}), rel: 'nofollow') %>,
      <%= link_to('liberté Etat', recherche_path(params: { q: 'liberté Etat'}), rel: 'nofollow') %>
      </p>
    </div>
  <% else %>
    <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>
    <div class="pt-4">
    <%# <div class="pt-4 pb-6"> %>
      <%# <%= link_to('Tous', nil, class: 'button button-gray') %1> %>
      <%# <%= link_to('Français', nil, class: 'button button-transparent') %1> %>
      <%# <%= link_to('Philosophie', nil, class: 'button button-transparent') %1> %>
      <%# <%= link_to('Annales', nil, class: 'button button-transparent') %1> %>
    </div>
    <ul>
      <% @topics.each do |topic| %>
        <li class="mb-4 list-inside list-square"><%= link_to "#{topic.title}", topic.best_essay.essay_content %></li>
      <% end %>
    </ul>
    <%= paginate @topics %>
  <% end %>
</div>
