<%= turbo_frame_tag "quiz_answer" do %>
  <div class="grid grid-cols-1 md:grid-cols-2 auto-rows-[1fr] gap-5 mt-4">
    <% @answer.question.propositions.each do |proposition| %>
      <div class="border border-gray-400 px-4 py-5 flex items-center justify-center
        <% if proposition.correct %>
          bg-green-300
        <% elsif proposition == @answer.proposition %>
          bg-red-300
        <% end %>
      ">
        <div class="text-center">
          <%= proposition.statement %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to(new_quiz_answers_path, data: { turbo_stream: true }, class: 'no-underline') do %>
    <div class="mt-5 border border-gray-400 py-4 text-center font-semibold hover:bg-blue-200">
      Question suivante
    </div>
  <% end %>
<% end %>
