<%= form_with model: answer do |form| %>
  <div class="grid grid-cols-1 md:grid-cols-2 auto-rows-[1fr] gap-5 mt-4">
    <%= form.hidden_field :question_id, value: @answer.question_id %>
    <% @answer.question.propositions.each do |proposition| %>
      <%= form.label :proposition_id, value: proposition.id, class: 'p-0 font-normal w-full h-full' do %>
        <div class="border border-gray-400 hover:bg-blue-200 has-[:checked]:bg-blue-300 px-4 py-5 h-full flex items-center justify-center">
          <div class="text-center">
            <%= form.radio_button :proposition_id, proposition.id, class: 'opacity-0 fixed pointer-events-none' %>
            <%=  proposition.statement %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="mt-5 border border-gray-400 text-center font-semibold hover:bg-blue-200">
    <%= form.submit "Répondre", class: 'py-4 w-full' %>
  </div>
<% end %>
