<p class="mb-3">
  <span class="block text-2xl font-bold">
    <%= question.statement %>
  </span>

  <span class="block mt-1 italic">
    <%= question.categorisable.question_display_name %>
  </span>
</p>
