<div class="flex flex-wrap gap-4">
  <div>
    <%
      grouped_options = [
        ['Choix type',
          [
            ['Tout type', ''],
            ['Auteurs français', 'francais-commentaire'],
            ['Notions philo', 'philosophie-dissertation'],
            ['Auteurs philo', 'philosophie-commentaire']
          ],
        ]
      ]
      selected_type = if @selected_questions.dig(:type)
          @selected_questions[:type]
      elsif @selected_questions.dig(:category)
        selected_group = Category.find_by(slug: @selected_questions[:category])&.group
        "#{selected_group.subject}-#{selected_group.exercice_type}" if selected_group
      elsif @selected_questions.dig(:sub_category)
        selected_group = SubCategory.find_by(slug: @selected_questions[:sub_category])&.category&.group
        "#{selected_group.subject}-#{selected_group.exercice_type}" if selected_group
      elsif @selected_questions.dig(:topic_id)
        selected_group = Topic.find_by(id: @selected_questions[:topic_id])&.sub_category&.category&.group
        "#{selected_group.subject}-#{selected_group.exercice_type}" if selected_group
      end
    %>
    <%= form_with url: new_quiz_answers_path, method: :get, data: { turbo_stream: true, controller: 'quiz-answer', 'quiz-answer-target': 'type' } do |form| %>
      <%= form.select('type',
        grouped_options_for_select(grouped_options, selected_type),
        {},
        { 'data-action' => 'change->quiz-answer#submitType' }
      ) %>
    <% end %>
  </div>
  <div>
    <% if selected_type
      selected_category = if @selected_questions.dig(:category)
        Category.find_by(slug: @selected_questions[:category])
      elsif @selected_questions.dig(:sub_category)
        SubCategory.find_by(slug: @selected_questions[:sub_category])&.category
      elsif @selected_questions.dig(:topic_id)
        Topic.find_by(id: @selected_questions[:topic_id])&.sub_category&.category
      else
        nil
      end
      grouped_options = [
        ['Choix catégorie',
          [
            ['Toute catégorie', '']
          ]
        ]
      ]
      groups = Group.where.not(name: Group::NON_ASSIGNED)
        .where(
          subject: selected_type.split('-').first,
          exercice_type: selected_type.split('-').second
        )
      grouped_options = grouped_options += groups.map do |group|
        new_group = [group.name]
        new_group_categories = Category
          .quiz_displayable
          .where(group: group)
          .map do |category|
            [category.name, category.slug]
        end
        new_group << new_group_categories
        new_group
      end %>
        <%= form_with url: new_quiz_answers_path, method: :get, data: { turbo_stream: true, controller: 'quiz-answer', 'quiz-answer-target': 'category' } do |form| %>
          <%= form.select('category',
            grouped_options_for_select(grouped_options, selected_category&.slug),
            {},
            { 'data-action' => 'change->quiz-answer#submitCategory' }
          )
          %>
        <% end %>
    <% end %>
  </div>
  <div>
    <% if selected_category && SubCategory.where(category: selected_category).any?
      selected_sub_category = if @selected_questions.dig(:sub_category)
        SubCategory.find_by(slug: @selected_questions[:sub_category])
      elsif @selected_questions.dig(:topic_id)
        Topic.find_by(id: @selected_questions[:topic_id])&.sub_category
      else
        nil
      end
      grouped_options = [
        ['Choix sous-catégorie',
          [
            ['Toute sous-categorie', ''],
          ],
        ]
      ]
      grouped_options[0][1] += SubCategory
       .where(category: selected_category)
       .map do |sub_category|
           [sub_category.name, sub_category.slug]
       end
    %>
      <%= form_with url: new_quiz_answers_path, method: :get, data: { turbo_stream: true, controller: 'quiz-answer', 'quiz-answer-target': 'subCategory' } do |form| %>
        <%= form.select('sub_category',
          grouped_options_for_select(grouped_options, selected_sub_category&.slug),
          {},
          { 'data-action' => 'change->quiz-answer#submitSubCategory' }
        ) %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if selected_sub_category && selected_sub_category.studied_texts_autonomous
      selected_topic = if @selected_questions.dig(:topic_id)
        Topic.find_by(id: @selected_questions[:topic_id])
      else
        nil
      end
      grouped_options = [
        ['Choix sujet',
          [
            ['Tout sujet', ''],
          ],
        ]
      ]
      grouped_options[0][1] += Topic
        .displayable
        .where(sub_category: selected_sub_category)
        .map do |topic|
          [topic.additional_details(concatenated: false), topic.id]
        end
      %>
      <%= form_with url: new_quiz_answers_path, method: :get, data: { turbo_stream: true, controller: 'quiz-answer', 'quiz-answer-target': 'topicId' } do |form| %>
        <%= form.select('topic_id',
          grouped_options_for_select(grouped_options, selected_topic&.id),
          {},
          { 'data-action' => 'change->quiz-answer#submitTopicId' }
        ) %>
      <% end %>
    <% end %>
  </div>
</div>
