<%= turbo_stream.update "quiz_selects" do %>
  <%= render 'quiz/answers/selects', selected_questions: @selected_questions  %>
<% end %>
<%= turbo_stream.update "quiz_question" do %>
  <%= render 'quiz/answers/question', question: @answer.question  %>
<% end %>
<%= turbo_stream.update "quiz_answer" do %>
  <%= render 'quiz/answers/form', answer: @answer %>
<% end %>
