<% content_for :page_title, 'Modifier son mot de passe' %>
<% content_for :h1_title, 'Modifier son mot de passe' %>

<div clas="content-user">
  <h1><%= yield (:h1_title) %></h1>

  <p><%= render "devise/shared/error_messages", resource: resource %></p>

  <div class="content-two-columns">
    <div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { turbo: false }, class: "standard" }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div>
          <%= f.label :password, "Nouveau mot de passe" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caractères minimum)</em>
          <% end %>
          <%= f.password_field :password, required: true, autofocus: true, autocomplete: "new-password" %>
        </div>

        <div>
          <%= f.label :password_confirmation, "Confirmer le nouveau mot de passe" %>
          <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
        </div>

        <div class="mt-4">
          <%= f.submit "Modifier mon mot de passe" %>
        </div>
      <% end %>
    </div>
    <div>
    </div>
  </div>
</div>
