<% content_for :page_title, 'Réinitialiser son mot de passe' %>
<% content_for :h1_title, 'Réinitialiser son mot de passe' %>
<% content_for :page_description, "Récupérer l'accès à son compte, en demandant la réinitialisation de son mot de passe." %>
<% content_for :canonical_url, new_user_password_url %>

<div class="content-user">
  <h1><%= yield (:h1_title) %></h1>

  <p><%= render "devise/shared/error_messages", resource: resource %></p>

  <div class="content-two-columns">
    <div>
      <p>En cas d'oubli de votre mot de passe, saisissez ci-dessous votre adresse email pour pouvoir en choisir un nouveau. Vous recevrez un lien de réinitialisation directement dans votre boite email.</p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false }, class: "standard" }) do |f| %>

        <div class="mt-4">
          <div>
            <%= f.label :email, "Adresse email" %>
            <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="mt-4">
          <%= f.submit "Envoyer l'email de réinitialisation" %>
        </div>
      <% end %>
    </div>
    <div class="content-two-columns-right">
      <p class="font-bold">Vous n'avez pas de compte ?</p>

      <p>Créez-en un pour pouvoir publier vos propres corrigés, en tant qu'élève ou professeur.</p>

      <%= link_to "Créer un compte", new_registration_path(resource_name), class: "button button-blue mt-4" %>

      <p class="mt-4">Si vous connaissez déjà votre mot de passe, <%= link_to "accédez à votre compte ici", new_user_session_path, class: "" %>.
    </div>
  </div>
</div>
