<% if @other_essays.count.positive? || !@similar_topics.empty? %>
  <div class="mt-4 content">
    <h2>Corrigés liés disponibles</h2>
    <div class="items-start grid grid-cols-1 gap-2 md:grid-cols-2">
      <% if !@similar_topics.empty? %>
      <div>
        <p class="font-bold">Les corrigés similaires disponibles</p>

        <ul>
          <% @similar_topics.each do |topic| %>
            <li class="list-outside ml-4 mr-6 list-square">
              <%= link_to(topic.title_short.presence || topic.title, topic.best_essay.essay_content) %>
            </li>
          <% end %>
        </ul>
        </div>
      <% end %>
      <div class="md:ml-10">
        <% if @other_essays.count.positive? %>
          <div class="mb-2">
            <p class="font-bold">Autres corrigés disponibles sur ce sujet</p>
            <ul>
              <% @other_essays.each do |essay| %>
                <li class="list-outside ml-4 mr-6 list-square">
                  <% username, userlevel = essay.essay_content.is_a?(EssayContents::Internal) ?
                    [essay.essay_content.user.username, essay.essay_content.user.level] : [essay.essay_content.author_name, essay.essay_content.author_level] %>
                  <%= link_to("Corrigé #{t(userlevel)} de #{username}", essay.essay_content) %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <p class="font-bold">
        Proposez votre corrigé pour ce sujet
        </p>
        <%= link_to('Proposez votre propre corrigé',
                    new_essay_contents_internal_path(topic_id: @essay_content.topic.id))
        %><br />
        et gagnez 30 jours d'accès premium !
    </div>
    </div>
  </div>
<% end %>
