<div class="field">
  <% label = @type == :dissertation ? 'Notion' : 'Auteur' %>
  <%= form.label :category_id, label %><br />
  <% if (@type == :dissertation) %>
    (ou celle s'en rapprochant le plus)<br />
  <% end %>
  <%
    grouped_options = []
    @groups&.each do |group|
      new_group = [group.name]
      new_group_categories = []
      Category.where(group: group).each do |category|
        unless group.name == Group::NON_ASSIGNED && category.id != @topic.category_id
          new_group_categories << [category.name,category.id]
        end
      end
      new_group << new_group_categories
      unless group.name == Group::NON_ASSIGNED && (!@topic.category || @topic&.category&.group&.name != Group::NON_ASSIGNED)
        grouped_options << new_group
      end
    end
  %>
  <%= form.select(:category_id,
    grouped_options_for_select(grouped_options, @topic.category_id),
    {},
    disabled: topic_fields_disabled)
  %>
</div>
