<% if current_user&.admin? %>
  <div class="p-4 text-right bg-white">
    <%= link_to('Editer le sujet',
                edit_topic_path(@essay_content.topic))
    %>
  </div>
<% end %>

<section>
  <h1 class="break-words"><%= link_to(yield(:h1_title), yield(:canonical_url), class: 'text-4xl') %></h1>
  <% if essay_content.topic.past_exam.present? %>
    <div class="mb-4"><%= essay_content.topic.past_exam %></div>
  <% end %>

  <% if essay_content.is_a?(EssayContents::Internal) %>
    <div class="mt-1 mb-3 text-lg font-semibold break-words">
      <%= simple_format(essay_content.description) %>
    </div>
  <% end %>

  <div class="mt-1 mb-6 font-bold text-gray-700">
    Dernière mise à jour : <%= essay_content.updated_at.strftime("%d/%m/%Y") %>
    &bull; Proposé par: <%= essay_content.essay.author_name %> (<%= t(essay_content.essay.author_level) %>)
  </div>


  <% if essay_content.topic.studied_text.present? %>
    <div class="w-11/12 p-6 mx-auto my-8 border border-gray-500 border-solid shadow">
      <p class="font-semibold text-right text-gray-600 uppercase">
        Texte étudié
        <% if essay_content.topic.studied_text_audio.attached? %>
          <span class="ml-2 no-underline align-middle icon-audio" id="audio_icon"></span>
        <% end %>
      </p>
      <% if essay_content.topic.studied_text_audio.attached? %>
        <audio id="audio_player">
          <source src="<%= rails_blob_url(essay_content.topic.studied_text_audio) %>" type="audio/mpeg">
        </audio>
      <% end %>
      <figure>
        <blockquote class="pr-6 overflow-y-auto max-h-96">
          <%= simple_format(essay_content.topic.studied_text) %>
        </blockquote>

        <figcaption class="block mt-3">
          <cite class="bg-gray-200">
            <%= essay_content.topic.reference_from_details %>
          </cite>
        </figcaption>
      </figure>
    </div>
  <% end %>
</section>
