<% if (@type == :dissertation) %>
  <div class="field">
    <%= form.label :title, 'Intitulé du sujet' %><br />
    <em>ex : Est-il possible d'échapper au temps ?</em><br />
    <%= form.text_field :title, size: 50, required: true, disabled: disabled  %>
  </div>
  <%= render 'shared/category_select', { form: form, topic_fields_disabled: disabled } %>
<% else %>
  <div class="field">
    <%= form.label :studied_text, 'Texte étudié' %><br />
    Attention, le texte doit être entièrement retranscrit : vous pouvez le recopier ou le retrouver sur des sites tel que <a href="http://fr.wikisource.org" target="_blank">wikisource</a>.<br />
    <%= form.text_area :studied_text, cols: 75, rows: 10, required: true, disabled: disabled %>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <%= render 'shared/category_select', { form: form, topic_fields_disabled: disabled } %>
    <div class="field">
      <%= label :author_other, 'Autre auteur - facultatif' %><br />
      Si celui-ci n'est pas dans la liste des auteurs proposés.<br />
      <%= text_field :author, :other, disabled: disabled %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="field">
      <%= form.label :book, "Titre de l'oeuvre - facultatif" %><br />
      <em>(Ex : Critique de la raison pure)</em><br />
      <%= form.text_field :book, size: 35, disabled: disabled %>
    </div>
    <div class="field">
      <%= form.label :part, 'Indications sur le passage - facultatif' %><br />
      Tout ce qui permettra de retrouver le passage : partie, chapitre<br />
      <em>(ex : livre I, chapitre 5)</em><br />
      <%= form.text_field :part, size: 40, disabled: disabled %>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="field">
      <%= form.label :themes, 'Thème(s) du texte - facultatif' %><br />
      Indiquez les thèmes abordés par l'auteur <em><br />
        (Ex :  Individu et communauté)</em><br />
      <%= form.text_field :themes, size: 35, disabled: disabled %>
    </div>
    <div class="field">
      <%= form.label :edition, "Indications sur l'édition - facultatif"  %><br />
      Indiquez ici les informations relatives à la page dans une certaine édition, à une traduction particulière<br />
      <em>(ex: pp 23-24 aux éditions Flammarion)</em><br />
      <%= form.text_field :edition, size: 40, disabled: disabled %>
    </div>
  </div>
<% end %>
<% if current_user.admin? %>
  <div class="field">
    <%= form.label :past_exam, "Sujet d'annale ?" %><br />
    <em>Format type : Annale bac 2010, Séries Technologiques - France métropolitaine</em><br />
    <%= form.text_field :past_exam, size: 50, disabled: disabled %>
  </div>

  <% if controller_name == 'topics' %>
    <div class="field">
      <%= form.label :title_short, "Titre court" %><br />
      <em>A des fins de référencement. Ne doit pas dépasser 70 caractères.</em><br />
      <%= form.text_field :title_short, size: 50 %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :studied_text_audio, "Audio texte étudié" %><br />
    <%= form.file_field :studied_text_audio, multiple: false, direct_upload: true %>
  </div>
<% end %>
