<div class="field">
  <%= form.label :group_id, 'Groupe' %><br />
  <%
    grouped_options = []
    subjects_and_types = Group.subjects.keys.product(Group.exercice_types.keys)
    subjects_and_types.each do |subject_and_type|
      groups = Group.where(
        subject: Group.subjects[subject_and_type[0]],
        exercice_type: Group.exercice_types[subject_and_type[1]]
      )
      options_group = [subject_and_type.map(&:capitalize).join(' - ')]
      options_group_options = groups.map do |group|
        [group.name, group.id]
      end
      unless options_group_options.empty?
        options_group << options_group_options
        grouped_options << options_group
      end
    end
  %>
  <%= form.select(:group_id,
    grouped_options_for_select(grouped_options, @category.group_id)
  ) %>
</div>
