<div class="fade-out">
  <%= remove_superflous_p_tags(simple_format(bbcode_to_html(sanitize(excerpt)), {}, sanitize: false)).html_safe %>
</div>
<div class="mt-8 text-center">
  <div class="mt-2 text-lg font-bold">Accédez à la suite de ce contenu</div>
  <div class="max-w-md mx-auto mt-5">
    <%= link_to("Obtenir un accès premium", apropos_premium_path, class: "button button-blue") %>
  </div>
  <div class="max-w-lg mx-auto mt-5">
    Obtenez un accès immédiat à tous nos contenus premium.
  </div>
  <div class="mt-7 text-sm">
    <% unless current_user %>
      <div>
        <%= link_to("J'ai déjà un accès premium, je me connecte", new_user_session_path) %>
      </div>
    <% end %>
    <div>
      <%=
        path = current_user ? new_essay_contents_internal_path : apropos_publication_path
        link_to("J'ai un corrigé à proposer, je peux gagner un accès premium", path)
      %>
    </div>
  </div>
</div>
