<%
  rating_max = 5
  current_rating = essay.average_grade.round() # grades to be implemented
  checked_html = "checked=checked"
%>

<div class="inline-flex align-middle rating-group">
  <input disabled
         class="hidden rating-input"
         value="0"
         type="radio"
         <%= current_rating == 0 && checked_html %>
  >
  <% for i in 1..rating_max do %>
    <label aria-label="<%= i %> star"
           class="rating-label"
           for="rating<%= i %>"
    >
      <span class="rating-icon rating-icon-star icon-star">
      </span>
    </label>
    <input disabled
           class="rating-input"
           value="<%= i %>"
           id="rating-<%= i %>"
           name="rating-<%= essay.essay_content.id %>"
           type="radio" <%= current_rating == i && checked_html %>
    >
  <% end %>
</div>

