<div class="mt-4 content-two-columns">
  <div>
    <h2 class="mt-4">Corrigés et commentaires</h2>
    <h3>Listes des notions/auteurs</h3>
    <p>
      <%= link_to('Dissertations corrigées de philosophie', params_categories_path(type: 'dissertation', matiere: 'philosophie' )) %><br />
      <%= link_to('Commentaires corrigés de philosophie', params_categories_path(type: 'commentaire', matiere: 'philosophie' )) %><br />
      <%= link_to('Commentaires composés de français', params_categories_path(type: 'commentaire', matiere: 'francais')) %><br />
    </p>
    <h3>Index des sujets</h3>
    <p>
      <%= link_to('Dissertations corrigées de philosophie', params_topics_path(type: 'dissertation', matiere: 'philosophie' )) %><br />
      <%= link_to('Commentaires corrigés de philosophie', params_topics_path(type: 'commentaire', matiere: 'philosophie' )) %><br />
      <%= link_to('Commentaires composés de français', params_topics_path(type: 'commentaire', matiere: 'francais')) %>
    </p>
    <h3>Classements</h3>
    <p>
      <%= link_to('Corrigés récemment ajoutés ou mis à jour', corriges_recents_path) %><br />
      <%= link_to('Corrigés les plus populaires du mois', corriges_populaires_path) %>
    </p>
  </div>

  <div>
    <h2 class="mt-4">Accueil et accès au contenu</h2>
    <p>
      <%= link_to("Page d'accueil", root_path) %><br />
      <%= link_to('Moteur de recherche', recherche_path) %>
    </p>

    <h2 class="mt-4">Compte membres</h2>
    <p>
      <%= link_to('Créer un compte', new_user_registration_path) %><br />
      <%= link_to('Accéder à son compte', new_user_session_path) %><br />
      <%= link_to('Réinitialiser son mot de passe', new_user_password_path) %>
    </p>

    <h2 class="mt-4">A propos de 20aubac</h2>
    <p>
      <%= link_to('Présentation du site', apropos_presentation_path) %><br />
      <%= link_to('Publiez vos propres corrigés', apropos_publication_path) %><br />
      <%= link_to('Accès premium', apropos_premium_path) %><br />
      <%= link_to('Mentions légales', apropos_mentions_path) %><br />
      <%= link_to('Partenaires', apropos_partenaires_path) %>
    </p>
    </p>
	</div>
</div>
