<div class="flex gap-4 md:gap-0 flex-wrap">
  <div class="w-full md:w-1/2 text-center">
    Nombre de réponses données:
    <%= current_user.answers.count %>
  </div>
  <div class="w-full md:w-1/2 text-center">
    Ratio de bonnes réponses:
    <%=
      if current_user.answers.count.zero?
        number_to_percentage(0, precision: 0)
      else
        number_to_percentage((current_user.answers.correct.count.to_f/ current_user.answers.count) * 100, precision: 0)
      end
    %>
  </div>
</div>
