Bonjour,
Un corrigé vient d'être proposé.
Utilisateur: <%= @user.email %>
Niveau utilisateur: <%= @user.level %>
Sujet du corrigé: <%= @topic.title %>


Cordialement,
L'équipe de 20aubac.fr.

https://www.20aubac.fr
