<% content_for :page_title, 'Audios manquants' %>
<% content_for :h1_title, 'Audios manquants' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <h2 class="mt-4">Sujets avec corrigés internes publiés sans audio</h2>

  <table class="standard">
    <thead>
      <tr>
        <td>id</td>
        <td>titre</td>
      </tr>
    </thead>
    <tbody>
      <% @topics_without_audios.each do |topic| %>
        <tr>
          <td><%= link_to(topic.id, edit_topic_path(topic)) %></td>
          <td><%= topic.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
