<% content_for :page_title, "Catégories manquant d'informations" %>
<% content_for :h1_title, "Catégories manquant d'informations" %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <div>
    <% unless @unassigned_categories.empty? %>
      <h2 class="mt-4">Listes des catégories non assignées</h2>
      <table class="standard">
        <thead>
          <tr>
            <td>id</td>
            <td>Nom</td>
            <td>Slug</td>
            <td>Type</td>
            <td>Matière</td>
            <td>Corrigés ids</td>
          </tr>
        </thead>
        <tbody>
          <% @unassigned_categories.each do |category| %>
            <tr>
              <td><%= link_to(category.id, edit_category_path(category)) %></td>
              <td><%= category.name %></td>
              <td><%= category.slug %></td>
              <td><%= category.group.exercice_type.capitalize %></td>
              <td><%= t(category.group.subject).capitalize %></td>
              <td>
                <% Essay.joins([topic: :category]).where(topic: { category: category }).each do |essay| %>
                  <%= link_to("#{essay.id} ", essay.essay_content) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% unless @categories_without_avatar.empty? %>
      <h2 class="mt-4">Listes des catégories sans avatars</h2>
      <table class="standard">
        <thead>
          <tr>
            <td>id</td>
            <td>nom</td>
          </tr>
        </thead>
        <tbody>
          <% @categories_without_avatar.each do |category| %>
            <tr>
              <td><%= link_to(category.id, edit_category_path(category)) %></td>
              <td><%= category.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% unless @categories_without_sorting_index.empty? %>
      <h2 class="mt-4">Listes des catégories sans index de tri</h2>
      <table class="standard">
        <thead>
          <tr>
            <td>id</td>
            <td>nom</td>
          </tr>
        </thead>
        <tbody>
          <% @categories_without_sorting_index.each do |category| %>
            <tr>
              <td><%= link_to(category.id, edit_category_path(category)) %></td>
              <td><%= category.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
