<% content_for :page_title, 'Corrigés à valider' %>
<% content_for :h1_title, 'Corrigés à valider' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <div>
    <h2 class="mt-4">Corrigés en attente</h2>

    <table class="standard">
      <thead>
        <tr>
          <td>id</td>
          <td>Sujet</td>
          <td>Type</td>
          <td>MaJ</td>
        </tr>
      </thead>
      <tbody>
      <% @pending_essays.each do |essay| %>
        <tr>
          <td><%= link_to(essay.essay_content.id, edit_essay_contents_internal_path(essay.essay_content)) %></td>
          <td><%= link_to(essay.topic.title, essay.essay_content) %></td>
          <td><%= t(essay.essay_content_type).capitalize %></td>
          <td><%= essay.updated_at.strftime('%d/%m/%Y') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <h2 class="mt-4">Corrigés en brouillons.</h2>
    <p>
      <%= @drafts_count %> brouillons.
    </p>
  </div>
</div>
