<% content_for :page_title, 'Corrigés externes à vérifier' %>
<% content_for :h1_title, 'Corrigés externes à vérifier' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <div>
    <h2 class="mt-4">Corrigés externes avec le plus fort taux de clics sur les archives</h2>

    <table class="standard">
      <thead>
        <tr>
          <td>id</td>
          <td>Sujet</td>
          <td>Domaine</td>
          <td># alertes</td>
          <td># hits_nb_last30d</td>
          <td>Taux de clic</td>
        </tr>
      </thead>
      <tbody>
      <% @external_essays_by_alerts.each do |essay_content| %>
        <tr>
          <td><%= essay_content.id %></td>
          <td><%= link_to(essay_content.essay.topic.title, essay_content) %></td>
          <td><%= essay_content.url_domain %></td>
          <td><%= essay_content.archives_access_count %></td>
          <td><%= essay_content.hits_nb_last30d %></td>
          <td><%= essay_content.archives_access_rate.round(2) %>%</td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </p>
  </div>
</div>
