<% content_for :page_title, 'Liens associés' %>
<% content_for :h1_title, 'Liens associés' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <h2 class="mt-4">Catégories ayant besoin de liens associés</h2>

  <table class="standard">
    <thead>
      <tr>
        <td>id</td>
        <td>nom</td>
        <td># catégories liées</td>
        <td># sujets disponibles</td>
      </tr>
    </thead>
    <tbody>
      <% @categories_needing_links.each do |category| %>
        <tr>
          <td><%= link_to(category.id, edit_category_path(category)) %></td>
          <td><%= link_to(category.name, category_topics_path(category)) %></td>
          <td><%= category.influencees_count + category.influencers_count %></td>
          <td><%= category.topics_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
