<% content_for :page_title, 'Catégories orphelines' %>
<% content_for :h1_title, 'Catégories orphelines' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <div>
    <h2 class="mt-4">Listes des catégories orphelines sans avatar</h2>

    <table class="standard">
      <thead>
        <tr>
          <td>id</td>
          <td>Nom</td>
          <td>Slug</td>
          <td>Type</td>
          <td>Matière</td>
          <td>Supprimer</td>
        </tr>
      </thead>
      <tbody>
        <% @orphan_categories.each do |category| %>
          <tr>
            <td><%= link_to(category.id, edit_category_path(category)) %></td>
            <td><%= category.name %></td>
            <td><%= category.slug %></td>
            <td><%= category.group.exercice_type.capitalize %></td>
            <td><%= t(category.group.subject).capitalize %></td>
            <td>
              <%= link_to('Supprimer', category_path(category), data: { "turbo-method": :delete }) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </p>
  </div>
</div>
