<% content_for :page_title, 'Plans' %>
<% content_for :h1_title, 'Plans' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <h2 class="mt-4">Corrigés sans plan conforme</h2>

  <table class="standard">
    <thead>
      <tr>
        <td>id</td>
        <td>nom</td>
      </tr>
    </thead>
    <tbody>
      <% @essays_without_proper_plan.each do |essay| %>
        <tr>
          <td><%= link_to(essay.id, edit_essay_contents_internal_path(essay)) %></td>
          <td><%= link_to(essay.topic.title, essay_contents_internal_path(essay)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
