<% content_for :page_title, 'Gestion des professeurs' %>
<% content_for :h1_title, 'Gestion des professeurs' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <div>
    <h2 class="mt-4">Professeurs validés</h2>

    <table class="standard">
      <thead>
        <tr>
          <td>id</td>
          <td>Email</td>
          <td>Nom</td>
          <td># corrigés</td>
        </tr>
      </thead>
      <tbody>
        <% @professors.each do |professor| %>
          <tr>
            <td><%= professor.id %></td>
            <td><%= professor.email %></td>
            <td><%= professor.first_name %> <%= professor.last_name %></td>
            <td><%= professor.essay_contents_internals.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
