<% content_for :page_title, 'Statistiques' %>
<% content_for :h1_title, 'Statistiques' %>
<% content_for :additional_javascript, 'statistics' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <div>
    <h2 class="mt-4">Ajout corrigés</h2>
    <%= column_chart @grouped_by_year_essays.count, stacked: true %>

    <h2 class="mt-8">Inscription membres</h2>
    <%= column_chart @grouped_by_year_users.count %>

    <h2 class="mt-8">Nombre corrigés internes</h2>
    <p>
    Nombre de corrigés internes: <%= @number_of_internal_published_essays %><br />
      Nombre de corrigés internes payants: <%= @number_of_paid_published_essays %>
    </p>

    <h2 class="mt-8">Top/bottom 10 corrigés</h2>
    <div class="content-two-columns">
      <div>
        <h3>Top 10 corrigés</h3>

        <p>
          <%= @total_hits_top10_essays %> hits<br />
          <%= @percentage_top10_hits %>% du total
        </p>
      </div>
      <div>
        <h3>Bottom 10 corrigés</h3>

        <p>
          <%= @total_hits_bottom10_essays %> hits<br />
          <%= @percentage_bottom10_hits %>% du total
        </p>
      </div>
      <div>
        <ul>
          <% @top_10_essays.each_with_index do |essay_content, index| %>
            <li><%= link_to("#{index+1}. #{essay_content.essay.topic.title} (#{(essay_content.essay.hits_nb.fdiv(@total_hits_essays) * 100).round(2)}%)", essay_content) %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <ul>
          <% @bottom_10_essays.each_with_index do |essay, index| %>
            <li><%= link_to("#{index+1}. #{essay.topic.title} (#{essay.hits_nb} hits)", essay.essay_content) %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <h2 class="mt-8">Top corrigés payants/Top corrigés externes</h2>
    <div class="content-two-columns">
      <div>
        <ul>
          <% @top_10_paid_essays.each_with_index do |essay_content, index| %>
            <li><%= link_to("#{index+1}. #{essay_content.essay.topic.title}", essay_content) %></li>
          <% end %>
        </ul>
      </div>
      <div>
        <ul>
          <% @top_10_external_essays.each_with_index do |essay_content, index| %>
            <li><%= link_to("#{index+1}. #{essay_content.essay.topic.title}", essay_content) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
