<% content_for :page_title, 'Titres trop longs' %>
<% content_for :h1_title, 'Titres trop longs' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <h2 class="mt-4">Topics avec titres trop longs</h2>

  <table class="standard">
    <thead>
      <tr>
        <td>id</td>
        <td>Titre</td>
        <td>Longueur du titre</td>
      </tr>
    </thead>
    <tbody>
      <% @topics_with_long_titles.each do |topic| %>
        <tr>
          <td>
            <%= link_to(topic.id, edit_topic_path(topic)) %>
          </td>
          <td>
            <%= topic.title %>
          </td>
          <td>
            <%= topic.title_length %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
