<% content_for :page_title, 'Sujets orphelins' %>
<% content_for :h1_title, 'Sujets orphelins' %>
<h1><%= yield (:h1_title) %></h1>

<div>
  <div>
    <h2 class="mt-4">Sujets orphelins</h2>

    <table class="standard">
      <thead>
        <tr>
          <td>id</td>
          <td>Titre</td>
          <td>Supprimer</td>
        </tr>
      </thead>
      <tbody>
        <% @orphan_topics.each do |topic| %>
          <tr>
            <td><%= link_to(topic.id, edit_topic_path(topic)) %></td>
            <td><%= topic.title %></td>
            <td><%= link_to('Supprimer', topic_path(topic), data: { "turbo-method": :delete }) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
