<% content_for :page_title, 'Accéder à son compte' %>
<% content_for :h1_title, 'Accéder à son compte' %>
<% content_for :page_description, "Accéder à son compte sur 20aubac, afin d'ajouter des corrigés." %>
<% content_for :canonical_url, new_user_session_url %>

<div class="content-user">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>

  <div class="content-two-columns">
    <div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false }, class: "standard" }) do |f| %>
        <div class="mt-4">
          <div>
            <%= f.label :email, "Adresse email" %>
            <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "" %>
          </div>

          <div>
            <%= f.label :password %>
            <%= f.password_field :password, required: true, autocomplete: "current-password", class: "" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>

        <div class="mt-4">
          <%= f.submit "Se connecter" %>
        </div>
      <% end %>
    </div>
    <div class="content-two-columns-right">
      <p class="font-bold">Vous n'avez pas de compte ?</p>

      <p>Créez-en un pour pouvoir accéder aux contenus premium, en tant qu'élève ou professeur.</p>

      <p>Cela ne demande que quelques secondes et reste entièrement gratuit. Vous gardez un contrôle total sur vos données et vos contenus que vous pouvez modifier ou supprimer par vous-même.</p>

      <%= link_to "Créer un compte", new_registration_path(resource_name), class: "button button-blue mt-4" %>

      <p class="mt-4">En cas d'oubli du mot de passe, <%= link_to('réinitialisez-le ici', new_user_password_path) %>.</p>
    </div>
  </div>
</div>
