<% if ENV["ESSAY_VALIDATION_DISABLED"] == 'true' %>
  <p class="text-center py-6 text-lg text-red-600"> Il n'est pas possible de soumettre à validation de nouveaux corrigés pour le moment. Merci de votre compréhension.</p>
<% end %>

<%= render 'shared/error_messages', resource: @essay_content %>

<%= form_for(essay_content, html: { class: 'standard' }) do |f| %>
  <%= f.fields_for :topic do |form| %>
    <% disabled = @essay_content.essay.topic_locked? %>
    <%= render 'shared/form_topic', { form: form, disabled: disabled } %>
  <% end %>

  <div class="field">
    <%= f.label :description, 'Description du corrigé' %><br />
    <% if current_user.eleve? %>
      Présentez en quelques lignes votre corrigé : votre niveau, dans quel contexte il a été réalisé (devoir sur table, à la maison, correction...), s'il comporte des éléments de correction ou des remarques du professeur. Tout ce qui permet à votre lecteur d'avoir des éléments de contexte.<br />
    <% else %>
       Présentez en quelques lignes le corrigé: dans quel contexte il a été rédigé, ce qu'il contient, s'il est entièrement rédigé ou non. Tout ce qui permet à votre lecteur d'avoir des éléments de contexte.
    <% end %>
    <%= f.text_area :description, cols: 75, rows: 3, required: true %>
  </div>
  <div class="field">
    <%= f.label :content, 'Votre corrigé' %><br />
    Plus votre corrigé est complet et soigné, plus il aura de chance d'être accepté. Les phrases doivent être complètes (pas en prise de notes), le plan apparent (les parties titrés) et l'introduction ainsi qu'une conclusion doivent être présents.<br />

    <div class="flex items-center mt-3 mb-2">
      <%
        [
          {
            label: 'tp',
            className: 'h2'
          },
          {
            label: 'b',
            className: 'font-bold'
          },
          {
            label: 'i',
            className: 'italic'
          },
          {
            label: 'u',
            className: 'italic bg-gray-200'
          }
        ]
        .each do |format_option|
      %>
        <div
         class="self-stretch inline-block w-12 px-2 py-1 mr-2 leading-loose text-center button button-form"
         onclick="convertToHtml('<%= format_option[:label] %>', 'essay_contents_internal_content')"
        >
        <span class="<%= format_option[:className] %>"><%= format_option[:label] %></span>
        </div>
      <% end %>
      <div>
        (<%=content_tag('a', 'Comment ça marche ?', onclick: 'toggleDisplay("bbcode_explanation")') %>)
      </div>
    </div>
    <div id="bbcode_explanation" class="hidden">
      <p>Les balises de mise en forme vous permettent de mettre en forme votre texte à l'affichage:</p>
      <ul>
        <li class="list-inside list-square">[tp]Votre texte[/tp] pour mettre votre votre texte au format titre (ex: <span class="h2">le titre d'une partie)</span></li>
        <li class="list-inside list-square">[b]Votre texte[/b] pour mettre votre texte en gras (ex: <span class="font-bold">le titre d'une sous-partie</span>)</li>
        <li class="list-inside list-square">[i]Votre texte[/i] pour mettre votre texte en italique (ex: <span class="italic">une citation</span>)</li>
        <li class="list-inside list-square">[u]Votre texte[/u] pour mettre en avant votre texte (ex: <span class="italic bg-gray-200">une référence</span>)</li>
      </ul>
    </div>
    <%= f.text_area :content, cols: 75, rows: 25, required: true %>
  </div>
  <% if current_user.admin? && @essay_content.essay.published? %>
    <div class="field">
      <%= f.label :keywords, 'Mots-clés' %><br />
      Les mots-clés apparaissent dans l'url du corrigé.
      <%= f.text_field :keywords %>
    </div>
  <% end %>

  <%= hidden_field_tag 'topic_id', @topic_id   %>
  <%= hidden_field_tag 'matiere', @matiere   %>
  <%= hidden_field_tag 'type', @type %>
  <div class="mt-4"><%= f.submit yield(:button_text) %></div>
<% end %>
