<% content_for :page_title, 'Éditer le corrigé' %>
<% content_for :h1_title, 'Éditer le corrigé' %>
<% content_for :additional_javascript, 'essay_edit' %>
<h1><%= yield (:h1_title) %></h1>

<% provide(:button_text, 'Sauvegarder les modifications') %>
<%= render 'form', { essay_content: @essay_content } %>
