<% content_for :page_title, 'Ajouter un corrigé' %>
<% content_for :h1_title, 'Ajouter un corrigé' %>
<% content_for :additional_javascript, 'essay_edit' %>
<% provide(:button_text, 'Créer le corrigé') %>

<div class="content-user">
  <h1><%= yield (:h1_title) %></h1>


  <% if current_user.eleve? %>
    <p>Proposez un corrigé sur 20aubac et bénéficiez de 30 jours d'accès premium offerts !</p>
  <% else %>
    <p>Proposez un corrigé sur 20aubac et soyez lu chaque jour par des milliers d'élèves !</p>
  <% end %>

  <p class="my-4">Remarques :<br />
  - Portez attention à la qualité de votre corrigé. Les corrigés pas assez qualitatifs/incomplets sont refusés.<br />
  - Vous devez obligatoirement être l'auteur du corrigé. Les corrigés copiés d'autres sites sont refusés.<br />
  - Nous n'acceptons pas les dissertations de français ou les corrigés portant sur d'autres matières que le français et la philoophie.<br />
  - Il faut quelques jours pour voir son corrigé validé. <%= link_to('Vous devez vous abonner', membres_premiumabonnement_path) %> si vous avez besoin d'un accès premium immédiatement.
  </p>

  <% if @topic.new_record? %>
    <div class="mt-2 mb-1">Type de sujet :</div>
    <%= link_to('Dissertation de philosophie', new_essay_contents_internal_path(type: "dissertation", matiere: "philosophie"),
                { class: "#{@type == :dissertation && @matiere == :philosophie ? 'button button-gray' : 'button button-transparent' }" }) %>
    <%= link_to('Commentaire de philosophie', new_essay_contents_internal_path(type: "commentaire", matiere: "philosophie"),
                { class: "#{@type == :commentaire && @matiere == :philosophie ? 'button button-gray' : 'button button-transparent' }" }) %>
    <%= link_to('Commentaire de français', new_essay_contents_internal_path(type: "commentaire", matiere: "francais"),
                { class: "#{@type == :commentaire && @matiere == :francais ? 'button button-gray' : 'button button-transparent' }" }) %>
  <% end %>

  <%= render('form', { essay_content: @essay_content }) %>
</div>
