<% content_for :page_title, @essay_content.topic.title_short.presence || @essay_content.topic.title %>
<% content_for :h1_title, @essay_content.topic.title  %>
<%
    exercice_type_description = @essay_content.topic.category.group.commentaire? ? 'du commentaire' : 'de la dissertation'
subject_description = t(@essay_content.topic.category.group.subject)
    availability_description = @essay_content.premium? ? 'immédiatement' : 'gratuitement'
    author_level_description = @essay_content.user.eleve? ?  "l'élève" : 'le professeur'
    author_name_description = @essay_content.user.username
    page_description = "Corrigé #{exercice_type_description} de #{subject_description}, disponible #{availability_description}, et rédigé par #{author_level_description} #{author_name_description}." %>
<% content_for :page_description, page_description %>
<% content_for :canonical_url, essay_contents_internal_url(@essay_content) %>

<% if current_user == @essay_content.user || current_user&.admin? %>
  <% if ENV["ESSAY_VALIDATION_DISABLED"] == 'true' %>
    <p class="text-center py-6 text-lg text-red-600"> Il n'est pas possible de soumettre à validation de nouveaux corrigés pour le moment. Merci de votre compréhension.</p>
  <% end %>
  <div class="flex flex-wrap justify-end p-4 bg-white">
    <div class="inline-block px-4 py-2 mb-2 ml-2 border border-gray-400">
      Statut: <%= t(@essay_content.essay.status).capitalize %>
    </div>
    <% if @essay_content.essay.draft? %>
      <div><%= button_to 'Soumettre à validation',
                         publish_essay_contents_internal_path(@essay_content),
                         method: :put,
                         class: "button button-green ml-2 mb-2"  %>
      </div>
    <% elsif @essay_content.essay.validation_pending? && current_user.admin? %>
      <div><%= button_to 'Refuser',
                         validate_essay_contents_internal_path(@essay_content),
                         method: :put,
                         class: "button button-orange ml-2 mb-2"  %>
      </div>
      <div><%= button_to 'Accepter',
                         validate_essay_contents_internal_path(@essay_content, validated: true),
                         method: :put,
                         class: "button button-green ml-2 mb-2"  %>
      </div>
    <% elsif @essay_content.essay.published? %>
      <div><%= button_to 'Dépublier',
                         publish_essay_contents_internal_path(@essay_content),
                         method: :put,
                         class: "button button-orange ml-2 mb-2"  %>

      </div>
      <% if current_user.admin? %>
        <% button_label = @essay_content.premium? ? 'Rendre non premium':'Rendre premium' %>
        <div><%= button_to button_label,
                           premiumize_essay_contents_internal_path(@essay_content),
                           method: :put,
                           class: "button button-orange ml-2 mb-2"  %>

        </div>
      <% end %>
    <% end %>
    <% if current_user.admin? %>
      <%= form_tag(update_topic_essay_contents_internal_path(@essay_content), method: :put) do %>
        <div class="flex h-full pb-2">
          <div class="flex items-center w-20 h-full px-2 ml-2 border border-gray-600 border-1">
            <%= text_field_tag(:new_topic_id, nil, placeholder: "ID sujet", class: "appearance-none w-16") %>
          </div>
          <div class="flex items-center h-full px-2 ml-2 bg-gray-300 border border-gray-300 hover:bg-gray-400 border-1">
            <%= submit_tag("Changer sujet", class: "appearance-none bg-transparent font-bold") %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div><%= link_to "Editer",
                     edit_essay_contents_internal_path(@essay_content),
                     class: "button button-blue ml-2 mb-2"  %>
    </div>
    <div>
      <%= button_to "Supprimer",
                    essay_contents_internal_path(@essay_content),
                    data: {
                      confirm: "Êtes-vous sûr ? Tout suppression est définitive."
                    },
                    method: :delete,
                    class: "button button-red ml-2 mb-2"  %>
    </div>
  </div>
<% end %>

<div class="content">
  <%= render('shared/essay_information', essay_content: @essay_content) %>
  <div class="flex flex-wrap-reverse lg:flex-nowrap">
    <article class="flex-grow min-w-0 pr-4 break-words">
      <% if @essay_content.premium? && !@premium_display %>
        <%= render('shared/paywall', { excerpt: @essay_content.excerpt, current_user: current_user }) %>
      <% else %>
        <%= remove_superflous_p_tags(simple_format(bbcode_to_html(sanitize(@essay_content.content)),
                                     {},
                                     sanitize: false)).html_safe %>
      <% end %>
    </article>
    <aside class="min-w-full mb-6 lg:mb-0 lg:ml-6 lg:min-w-330px lg:max-w-330px">
      <% if @essay_content.essay.topic.category.avatar.attached? %>
        <div class="hidden lg:block">
          <div class="pt-6 pb-4 bg-gray-200">
            <figure>
              <%= link_to(category_topics_path(@essay_content.topic.category)) do %>
                <%= image_tag(rails_storage_proxy_path(@essay_content.essay.topic.category.avatar),
                              alt: @essay_content.essay.topic.category.name,
                              class: "w-4/5 mx-auto") %>
              <% end %>
              <figcaption class="mt-3 text-lg font-bold text-center text-gray-700">
                <%= link_to(@essay_content.topic.category.name, category_topics_path(@essay_content.topic.category), class:"no-underline") %>
              </figcaption>
            </figure>
          </div>
        </div>
      <% end %>
      <div class="lg:sticky lg:top-[88px] z-0">
        <%
          plan = extract_plan(@essay_content.content)
          if plan.present? || !@essay_content.essay.published?
        %>
          <div class="content-center justify-center p-4 mt-2 bg-gray-200">
            <div class="text-lg font-bold text-center text-gray-700">Plan du corrigé</div>

            <% if plan.present? %>
              <nav>
                <ul class="mt-4">
                <% plan.each do |plan_part| %>
                  <%= simple_format(sanitize(plan_part, tags: %w(a), attributes: %w(href)), { class: "mt-1" }, { wrapper_tag: "li", sanitize: false }) %>
                <% end %>
                </ul>
              </nav>
            <% else %>
              <p>
                Vous pouvez ajouter un plan en utilisant des balises [tp] et [/tp] pour marquer vos titres de parties.
              </p>
            <% end %>
          </div>
        <% end %>
        <% if @essay_content.essay.published? %>
          <div class="hidden p-4 mt-2 bg-gray-200 lg:block">
            <div class="text-lg font-bold text-center text-gray-700" id="share-label">
              Partager ce corrigé
            </div>
            <div class="flex mt-6">
              <% @options.each do |option| %>
                <div class="flex-auto text-center">
                  <%= link_to(option[:link],
                              id: option[:id],
                              target: '_blank',
                              aria: { label: option[:name] },
                              data: { name: option[:name] }
                             ) do %>
                    <span class="text-3xl text-gray-700 icon-<%= option[:id] %>"></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </aside>
  </div>
</div>
<div id="internal-content-end"></div>

<% if @essay_content.essay.published? %>
  <%= render('shared/additional_essays') %>
<% end %>
