<% content_for :page_title, 'Éditer la catégorie' %>
<% content_for :h1_title, 'Éditer la catégorie' %>
<h1><%= yield (:h1_title) %></h1>

<% provide(:button_text, 'Sauvegarder les modifications') %>

<h2 class="mt-8">Modifier les informations de la catégorie</h2>

<%= form_for(@category, html: { class: 'standard' }) do |form| %>
  <div class="field">
    <%= form.label :name, 'Nom' %><br />
    <%= form.text_field :name, size: 50, required: true %>
  </div>

  <div class="field">
    <%= form.label :slug, 'Slug' %><br />
    <%= form.text_field :slug, size: 50, required: true %>
  </div>

  <div class="field">
    <%= form.label :sorting_index, 'Index de tri' %><br />
    <%= form.text_field :sorting_index, size: 50, required: true %>
  </div>

  <div class="field">
    <%= form.label :avatar, "Avatar" %><br />
    <%= form.file_field :avatar, multiple: false, direct_upload: true %>
  </div>

  <%= render 'shared/group_select', { form: form } %>
  <div class="mt-4"><%= form.submit yield(:button_text) %></div>
<% end %>
