<% content_for :page_title, "#{@type.capitalize}s de #{t(@matiere)}" %>
<% content_for :h1_title, "#{@type.capitalize}s de #{t(@matiere)}"   %>
<% content_for :page_description, "L'ensemble des #{@type == :dissertation ? 'notions' : 'auteurs'} pour les #{@type}s de #{t(@matiere)}"    %>
<% content_for :canonical_url, params_categories_url(matiere: @matiere, type: @type) %>
<div class="content">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>
  <p>
    Vue synthétique, <%= link_to('vue détaillée', params_topics_path(matiere: @matiere, type: @type)) %>
  </p>

  <p>Choisissez <%= @type == :dissertation ? "la notion du sujet" : "l'auteur du texte" %> recherché:</p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <% @groups.each do |group| %>
      <div>
        <h2><%= group.name %></h2>
        <ul>
          <% @categories.where(group: group).each do |category| %>
            <li><%= link_to "#{category.name}", category_topics_path(category) %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
