<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous informer que votre adresse email est en train d'être modifiée pour <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous informer que votre adresse email a été modifiée pour <%= @resource.email %>.</p>
<% end %>
