<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un a demandé à modifier votre mot de passe. Vous pouvez le faire avec le lien ci-dessous.</p>

<p><%= link_to 'Modifier mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer cet email.<br />
Votre mot de passe ne sera pas modifié tant que vous ne passerez pas par le lien ci-dessus.</p>
