<% content_for :content do %>
  <div class="content">
    <h1>Quiz</h1>

    <div class="flex flex-col justify-between">
      <fieldset class="border border-gray-400 mt-8 p-6">
        <legend>Votre choix de catégorie</legend>
        <%= turbo_frame_tag "quiz_selects" do %>
          <%= render("quiz/answers/selects", selected_questions: @selected_questions) %>
        <% end %>
      </fieldset>

      <fieldset class="border border-gray-400 mt-8 p-6">
        <legend>Votre question</legend>
        <%= turbo_frame_tag "quiz_question" do %>
          <%= render("quiz/answers/question", question: @answer.question) %>
        <% end %>
        <%= turbo_frame_tag "quiz_answer" do %>
          <%= yield %>
        <% end %>
      </fieldset>

      <fieldset class="border border-gray-400 mt-8 p-6">
        <legend>Vos statistiques</legend>
        <%= turbo_frame_tag "quiz_stats" do %>
          <%= render("quiz/answers/stats", user: current_user) %>
        <% end %>
      </fieldset>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
