<% content_for :page_title, 'Corrigés les plus populaires sur 20aubac' %>
<% content_for :h1_title, 'Corrigés les plus populaires sur 20aubac' %>
<% content_for :page_description, 'Listes des corrigés les plus populaires sur 20aubac ces 30 derniers jours.' %>
<% content_for :canonical_url,  corriges_populaires_path %>

<div class="content">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>
  <p>
    Vous trouverez ci-dessous les corrigés les plus populaires du moment, en philosophie et en français.<br />
    Ce classement est basé sur le nombre de consultations et est remis à 0 tous les mois.
  </p>

  <h2 class="mt-6">Les 15 corrigés de philosophie les plus populaires</h2>
  <p>
    <ul>
      <% @most_popular_essays_philosophie.each do |essay| %>
        <li class="list-inside list-square"><%= link_to(essay.topic.title, essay.essay_content) %></li>
      <% end %>
    </ul>
  </p>
  <p>
    Consulter également: <%= link_to('toutes les dissertations', params_categories_path(type: "dissertation", matiere: "philosophie")) %>, <%= link_to('tous les commentaires', params_categories_path(type: "commentaire", matiere: "philosophie")) %> de philosophie.
  </p>

  <h2 class="mt-6">Les 15 analyses de textes de français les plus populaires</h2>
  <p>
    <ul>
      <% @most_popular_essays_francais.each do |essay| %>
        <li class="list-inside list-square"><%= link_to(essay.topic.title, essay.essay_content) %></li>
      <% end %>
    </ul>
  </p>
  <p>
    Consulter également: <%= link_to('tous les autres commentaires de français', params_categories_path(type: "commentaire", matiere: "francais")) %>.
  </p>
</div>
