<% content_for :page_title, 'Corrigés récemment ajoutés ou mis à jour' %>
<% content_for :h1_title, 'Corrigés récemment ajoutés ou mis à jour' %>
<% content_for :page_description, 'Listes des corrigés récemment ajoutés ou mis à jour sur 20aubac.' %>
<% content_for :canonical_url, corriges_recents_path %>

<div class="content">
  <h1><%= link_to(yield(:h1_title), yield(:canonical_url)) %></h1>
  <p>
    Vous trouverez ci-dessous les corrigés récemment publiés ou mis à jour.
  </p>

  <h2 class="mt-6">Les 15 corrigés de philosophie les plus récemment créés ou mis à jour</h2>
  <p>
    <ul>
      <% @recently_updated_philosophie.each do |essay| %>
        <li class="list-inside list-square"><%= link_to(essay.topic.title, essay.essay_content) %></li>
      <% end %>
    </ul>
  </p>
  <p>
    Consulter également: <%= link_to('toutes les dissertations', params_categories_path(type: "dissertation", matiere: "philosophie")) %>, <%= link_to('tous les commentaires', params_categories_path(type: "commentaire", matiere: "philosophie")) %> de philosophie.
  </p>

  <h2 class="mt-6">Les 15 analyses de textes de français les plus récemment créées ou mises à jour</h2>
  <p>
    <ul>
      <% @recently_updated_francais.each do |essay| %>
        <li class="list-inside list-square"><%= link_to(essay.topic.title, essay.essay_content) %></li>
      <% end %>
    </ul>
  </p>
  <p>
    Consulter également: <%= link_to('tous les autres commentaires de français', params_categories_path(type: "commentaire", matiere: "francais")) %>.
  </p>

</div>
